html{
    background: -webkit-linear-gradient(#bbdde8, #366372); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#bbdde8, #366372); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#bbdde8, #366372); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#bbdde8, #366372); /* Standard syntax (must be last) */
    font-family: 'Roboto', sans-serif;
}
body{
    padding: 50px 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4{
    font-weight: 500;
}
.main{
    padding: 0;
    margin: 0;
    border: 1px solid #1f416b;
    box-shadow: 0px 0px 5px 1px rgba(43,43,43,.75);
}
.header{
    background: url(../img/header_bg.jpg) top left no-repeat #649ee5;
    min-height: 120px;
    padding: 15px 20px;
}
.header .logo{
    float: left;
    margin-right: 20px;
}
.header .brand{
    display: block;
    color: #b9d9ff;
    padding: 15px 15px 0;
}
.header .brand h1{
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
}
.header .brand p{
    font-size: 18px;
    font-weight: 300;
}
.header .brand .prize{
    color: #ffd249;
}
.content{
    background: url(../img/content_bg.png) repeat;
    padding: 50px 50px 20px;
}
.content .panel{
  background-color: #ffffff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  opacity: 0.97;
  filter: alpha(opacity=97);
}
.content .panel-heading{
    padding: 15px;
}
.content .panel-title{
    font-size: 24px;
    font-weight: 400;
}
.content .panel-tabs{
    padding: 0;
}
.content .tabs{
    
}
.content .tabs .list-group{
    float: left;
    width: 8.33333333%;
    display: inline-block;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}
.list-group-item{
    font-weight: 400;
    font-size: 18px;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom: 0;
}
a.list-group-item:hover, a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #fff;
}
.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #337ab7;
}
.content .tabs .tab-contents{
    float: left;
    display: inline-block;
    width:91.66666667%;
    padding: 20px 30px;
}
.tab-contents .tab-content{
    display: none;
}
.tab-contents .tab-content.active{
    display: block;
}
.tab-contents .tab-content h3{
    margin-top: 0;
    font-weight: 400;
}

.tab-contents .tab-content h4{
    margin-top: 20px;
    font-weight: 400;
}
#next2{
    padding: 8px 90px;
    font-size: 18px;
    margin-top: 20px;
}
.verified{
    color: #899cab;
    padding: 5px 0;
}
.verified img{
    margin-right: 10px;
}
#prize-panel{
    text-align: center;
}
#prize-panel h2{
    margin-top: 0;
    text-transform: uppercase;
    font-size: 24px;
}
#prize-panel p{
    margin: 0;
}
#prize-panel .get-prize p{
    color: #e86340;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
}
#prize-panel .get-prize h2{
    color: #e86340;
    font-size: 60px;
    margin-top: 0;
}
#prize-panel .get-prize small{
    color: #e86340;
    text-transform: none;
}
#prize-panel .form-group{
    padding: 0 10px 14px;
    margin: 0;
}
#prize-panel .form-control{
    text-align: center;
    height: 40px;
}
#prize-panel button[type=submit]{
    height: 40px;
    background-color: #e86340;
}
#prize-panel .prize-img{
    padding: 20px 10px;
}
#prize-panel .prize-img img{
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}
.social{
    text-align: left;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px 0;
    display: none;
}
.social h4{
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 10px !important;
    font-size: 16px;
}
.social p{
    font-weight: 300;
    line-height: 1;
}
.pluso{
    float: right;
    margin-top: 10px;
}
.progress-panel{
    display: none;
}
.progress-panel .progress{
    margin-bottom: 0;
}
.newsletter{
    padding: 0 30px;
}
.newsletter h2{
    text-transform: uppercase;
    font-size: 24px;
}
.newsletter p{
    font-size: 18px;
    font-weight: 300;
}
.newsletter h3{
    text-align: center;
    font-size: 36px;
    color: #e86340;
    margin-bottom: 0;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 500;
}
.newsletter h3+p{
    font-size: 24px;
    text-align: center;
    font-weight: 300;
}
.newsletter form{
    margin-bottom: 20px;
}
.newsletter .form-control{
    text-align: center;
    min-height: 40px;
}
.newsletter .btn{
    min-height: 40px;
    background-color: #e86340;
    border-color: #e86340;
}
.newsletter .social{
    display: block;
    margin-left: -45px;
    margin-right: -45px;
}
.footer{
    background-color: #1f416b;
    padding: 20px 35px;
    color: #000;
}
.footer img{
    margin-right: 15px;
}
.footer .politic{
  	color: #000;
	outline: none;
}